#### 1. Import pandas library

In [6]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [3]:
import sys
!{sys.executable} -m pip install pymysql sqlalchemy

import pymysql
from sqlalchemy import create_engine

Requirement already satisfied: pymysql in /anaconda3/lib/python3.6/site-packages (0.9.3)
Requirement already satisfied: sqlalchemy in /anaconda3/lib/python3.6/site-packages (1.3.5)

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [4]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

#### 4. Import the users table

In [37]:
users = pd.read_sql_query('SELECT * from stats.users', engine)

print(users)

          Id  Reputation        CreationDate          DisplayName  \
0         -1           1 2010-07-19 06:55:26            Community
1          2         101 2010-07-19 14:01:36         Geoff Dalgas
2          3         101 2010-07-19 15:34:50         Jarrod Dixon
3          4         101 2010-07-19 19:03:27               Emmett
4          5        6792 2010-07-19 19:03:57                Shane
5          6         457 2010-07-19 19:04:07               Harlan
6          7         429 2010-07-19 19:04:37                Vince
7          8        6764 2010-07-19 19:04:52          csgillespie
8         10         121 2010-07-19 19:05:40               Pierre
9         11         136 2010-07-19 19:06:02             wahalulu
10        12         101 2010-07-19 19:06:34                  Jin
11        13         817 2010-07-19 19:06:49              Sharpie
12        15          11 2010-07-19 19:07:32        hannes.koller
13        16         101 2010-07-19 19:08:13            slashnick
14        17         345 2010-07-19 19:08:28               Random
15        18         128 2010-07-19 19:08:29               grokus
16        19         101 2010-07-19 19:08:45          Noah Snyder
17        21         101 2010-07-19 19:08:56   Waleed Al-Balooshi
18        22         591 2010-07-19 19:09:00                radek
19        23         308 2010-07-19 19:09:16          Jay Stevens
20        24         344 2010-07-19 19:09:32               A Lion
21        25        4968 2010-07-19 19:09:32      Harvey Motulsky
22        26        3150 2010-07-19 19:09:39                  JMS
23        27         101 2010-07-19 19:09:41               balpha
24        29        2250 2010-07-19 19:09:42              JD Long
25        30        2185 2010-07-19 19:10:15                gappy
26        33         221 2010-07-19 19:11:08           James Roth
27        34         185 2010-07-19 19:11:11  Christopher D. Long
28        35         101 2010-07-19 19:11:38                adi92
29        36        1570 2010-07-19 19:11:52       Stephen Turner
...      ...         ...                 ...                  ...
40295  55718           6 2014-09-13 07:12:49                Amena
40296  55719           1 2014-09-13 07:19:09   OGUNNUSI OLUWATOBI
40297  55720           1 2014-09-13 08:00:08              Rebecca
40298  55721         101 2014-09-13 08:15:38           Lotte Laat
40299  55722           1 2014-09-13 08:32:22            WojciechF
40300  55723           1 2014-09-13 09:29:38  Davidson Salvia Jr.
40301  55724          16 2014-09-13 09:50:11            ouroboros
40302  55725           1 2014-09-13 09:53:01         Jatin Baveja
40303  55726           1 2014-09-13 09:54:27     SuPakarn Junfang
40304  55727           1 2014-09-13 10:03:06         biggvsdiccvs
40305  55728           1 2014-09-13 10:48:35            user56299
40306  55729          16 2014-09-13 11:04:54        Achim Zeileis
40307  55730           1 2014-09-13 12:01:38           quants_mum
40308  55731           1 2014-09-13 15:23:34             Kiran BM
40309  55732         101 2014-09-13 15:31:37     Szil√°rd Pfeiffer
40310  55733           6 2014-09-13 15:51:18                  Pax
40311  55734           1 2014-09-13 15:56:55                jalen
40312  55735           1 2014-09-13 16:21:29               Mukund
40313  55736           1 2014-09-13 16:29:11                liszt
40314  55737           1 2014-09-13 17:53:27             oolusola
40315  55738          11 2014-09-13 18:06:50                guest
40316  55739           1 2014-09-13 19:06:17              kpivert
40317  55740           1 2014-09-13 19:12:19            Nikkolasg
40318  55741         101 2014-09-13 20:19:48             Jutschge
40319  55742           6 2014-09-13 20:36:55          Sayan Ghosh
40320  55743           1 2014-09-13 21:03:50            AussieMeg
40321  55744           6 2014-09-13 21:39:30            Mia Maria
40322  55745         101 2014-09-13 23:45:27         tronbabylove
40323  55746         106 2014-09-14 00:29:41                  GPP
40324  55747           1 2014-09-14 01:01:44       Shivam Agrawal

           LastAccessDate                                    WebsiteUrl  \
0     2010-07-19 06:55:26                http://meta.stackexchange.com/
1     2013-11-12 22:07:23                      http://stackoverflow.com
2     2014-08-08 06:42:58                      http://stackoverflow.com
3     2014-01-02 09:31:02                  http://minesweeperonline.com
4     2014-08-13 00:23:47                       http://www.statalgo.com
5     2014-08-07 19:49:44                 http://www.harlan.harris.name
6     2014-09-10 21:14:12             http://bioinformatics.ucdavis.edu
7     2014-09-09 21:15:08              http://www.mas.ncl.ac.uk/~ncsg3/
8     2014-07-28 18:15:02               http://plindenbaum.blogspot.com
9     2014-07-23 21:28:18       http://www.linkedin.com/in/marckvaisman
10    2014-09-09 20:26:03                           http://www.8164.org
11    2014-08-14 17:28:14                     http://www.sharpsteen.net
12    2010-08-24 14:23:18                         http://soma.denkt.org
13    2010-08-19 20:40:59                                          None
14    2010-09-10 07:34:36                                          None
15    2012-08-09 15:02:00                          http://wikipedia.org
16    2012-06-17 15:53:43                http://sbseminar.wordpress.com
17    2011-09-26 02:28:45                                          None
18    2014-09-11 15:21:01                                          None
19    2014-08-11 19:51:32               http://www.centerlinescores.com
20    2011-12-06 04:21:56                                          None
21    2014-09-13 21:51:42                       http://www.graphpad.com
22    2014-09-13 04:03:25                                          None
23    2014-04-14 14:57:17                             http://balpha.de/
24    2014-08-11 19:14:03                http://cerebralmastication.com
25    2014-08-27 20:06:28              http://www.twitter.com/gappy3000
26    2014-09-08 21:15:20                                          None
27    2014-09-13 00:02:35         http://angrystatistician.blogspot.com
28    2014-08-13 06:05:38  http://www.contrib.andrew.cmu.edu/~amukherj/
29    2014-08-29 15:17:07      http://gettinggeneticsdone.blogspot.com/
...                   ...                                           ...
40295 2014-09-13 07:12:49                                          None
40296 2014-09-13 08:03:19                                          None
40297 2014-09-13 08:00:08                                          None
40298 2014-09-13 08:15:38                                          None
40299 2014-09-13 08:32:22             http://about.me/wojciechfrancuzik
40300 2014-09-13 09:29:38                                          None
40301 2014-09-13 10:05:17                                          None
40302 2014-09-13 15:25:42                                          None
40303 2014-09-13 13:10:43                                          None
40304 2014-09-13 10:03:06                                          None
40305 2014-09-13 10:48:35                                          None
40306 2014-09-13 12:15:21                                          None
40307 2014-09-13 12:01:38                                          None
40308 2014-09-13 20:51:55                                          None
40309 2014-09-13 15:31:37                 http://www.pfeifferszilard.hu
40310 2014-09-13 23:57:22                                          None
40311 2014-09-13 15:56:55                                          None
40312 2014-09-13 16:21:29                                          None
40313 2014-09-13 16:29:11                                          None
40314 2014-09-13 17:53:27                                          None
40315 2014-09-14 01:34:01                                          None
40316 2014-09-13 19:06:17                                          None
40317 2014-09-13 19:46:29                                          None
40318 2014-09-13 20:19:48                                          None
40319 2014-09-13 22:04:00                                          None
40320 2014-09-13 21:18:52                                          None
40321 2014-09-13 21:39:30                                          None
40322 2014-09-13 23:45:27                                          None
40323 2014-09-14 02:05:17                                          None
40324 2014-09-14 01:19:04                                          None

                        Location  \
0             on the server farm
1                  Corvallis, OR
2                   New York, NY
3              San Francisco, CA
4                   New York, NY
5           District of Columbia
6                      Davis, CA
7      Newcastle, United Kingdom
8                         France
9                 Washington, DC
10                   Raleigh, NC
11                 United States
12               Vienna, Austria
13        London, United Kingdom
14                          None
15                 United States
16                  New York, NY
17                      Michigan
18            Berne, Switzerland
19                          None
20                          None
21               Santa Monica CA
22                          None
23               Berlin, Germany
24                   Chicago, IL
25                  New York, NY
26                          None
27                Versailles, KY
28                Pittsburgh, PA
29                 Nashville, TN
...                          ...
40295                       None
40296                       None
40297                       None
40298       Tilburg, Netherlands
40299                       None
40300                       None
40301                       None
40302                       None
40303                       None
40304                       None
40305                       None
40306                       None
40307                       None
40308                       None
40309                    Hungary
40310                       None
40311                       None
40312                       None
40313                       None
40314                       None
40315                       None
40316                       None
40317                       None
40318                Switzerland
40319                       None
40320                       None
40321                       None
40322              United States
40323                       None
40324                      India

                                                 AboutMe  Views  UpVotes  \
0      <p>Hi, I'm not really a person.</p>\n\n<p>I'm ...      0     5007
1      <p>Developer on the StackOverflow team.  Find ...     25        3
2      <p><a href="http://blog.stackoverflow.com/2009...     22       19
3      <p>currently at a startup in SF</p>\n\n<p>form...     11        0
4      <p>Quantitative researcher focusing on statist...   1145      662
5      <ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...    114       47
6      I'm a recent graduate of UC Davis in Economics...     56       20
7      <p>I'm a statistics lecturer at Newcastle Univ...   1089      604
8      Bioinformatician\\nVirology\\nGenetics\\nBiolo...     20        2
9      <p>data_stuff &lt;- paste('data', c('scientist...     10       10
10     <p>I design stuff for Stack Exchange. Also a p...     10        5
11     Undergraduate studying Environmental Engineeri...    178       44
12                                                  None      8        0
13                                                  None      4        7
14                                                  None     14       13
15                           <p>Software engineer.</p>\n      8       16
16     <p>I'm an assistant professor in mathematics a...     13        2
17                                                  None      6        0
18     <p>Researcher in spatial epidemiology &amp; GI...     90      693
19     <p>I design and build Grant and Program manage...     52       34
20                                                  None     48       36
21     <p>I am the founder and CEO of <a href="http:/...    641      328
22                                                  None    257      138
23     <p>My name is Benjamin Dumke-von der Ehe. I am...     10        2
24     I'm a data guy not a programmer. But sometimes...    318       28
25     <p>Interested primarily in econometric analysi...    312       40
26                                                  None     11        2
27     <p>Consulting analyst for the San Diego Padres...     27       23
28                                                  None      4        9
29     <p>I'm finishing up my Ph.D. in Human Genetics...    173       26
...                                                  ...    ...      ...
40295                                               None      0        0
40296                                               None      1        0
40297                                               None      0        0
40298  <p>I like maths, swimming, food and penguins!<...      0        1
40299  <p>MD mesmerized by data science, TeX user, R ...      0        0
40300                                               None      0        0
40301  <p>I'm a self-taught programmer and linux powe...      1        0
40302                                               None      0        0
40303                                               None      0        0
40304                                               None      0        0
40305                                               None      0        0
40306                                               None      1        0
40307                                               None      0        0
40308                                               None      0        0
40309                                               None      0        0
40310                                               None      1        0
40311                                               None      0        0
40312                                               None      0        0
40313                                               None      0        0
40314                                               None      0        0
40315                                               None      0        0
40316                                               None      0        0
40317  <p>Be the change that you want to see in the w...      0        0
40318                                               None      0        1
40319                                               None      0        0
40320                                               None      0        0
40321                                               None      1        0
40322                                               None      0        0
40323  <p>Stats noobie, product, marketing &amp; medi...      1        0
40324                         <p>Maths Enthusiast </p>\n      0        0

       DownVotes  AccountId   Age  \
0           1920         -1   NaN
1              0          2  37.0
2              0          3  35.0
3              0       1998  28.0
4              5      54503  35.0
5              0      46050  41.0
6              0      49514  28.0
7             25      70002  36.0
8              0      23234  44.0
9              0      47893  40.0
10             0      21721  38.0
11             1      46029  28.0
12             0     189902  35.0
13             0      10996  31.0
14             1     509454   NaN
15             0      69872  44.0
16             0     501919  34.0
17             0      40640  33.0
18             6     124416   NaN
19             1      21565  46.0
20             1      85249   NaN
21            23     504968  62.0
22             7     134002   NaN
23             0      40051  34.0
24             1      17035  42.0
25             3      48399   NaN
26             0     137440   NaN
27             0     509455   NaN
28             0      13043  26.0
29             1     330276  31.0
...          ...        ...   ...
40295          0    5024818   NaN
40296          0    5024833   NaN
40297          0    5024897   NaN
40298          0    1402294  23.0
40299          0    3943551   NaN
40300          0    5025125   NaN
40301          0    3620179   NaN
40302          0    5025186   NaN
40303          0    5025192   NaN
40304          0    3293263   NaN
40305          0    3808774   NaN
40306          0    5025362   NaN
40307          0    5025477   NaN
40308          0    5025991   NaN
40309          0    1447761  36.0
40310          0    5026082   NaN
40311          0    5026094   NaN
40312          0    3335078   NaN
40313          0     510194   NaN
40314          0    5026427   NaN
40315          0    5026468   NaN
40316          0    5026613   NaN
40317          0    1239737   NaN
40318          0    3142440   NaN
40319          0    5026843   NaN
40320          0    5026902   NaN
40321          0    5026998   NaN
40322          0     481766   NaN
40323          0     976289   NaN
40324          0    5027354   NaN

                                         ProfileImageUrl
0                                                   None
1                                                   None
2                                                   None
3                     http://i.stack.imgur.com/d1oHX.jpg
4                                                   None
5                                                   None
6                                                   None
7                                                   None
8                                                   None
9                                                   None
10                                                  None
11                                                  None
12                                                  None
13                                                  None
14                                                  None
15                                                  None
16                                                  None
17                                                  None
18                                                  None
19                                                  None
20                                                  None
21                                                  None
22                                                  None
23                                                  None
24                                                  None
25                                                  None
26                                                  None
27                    http://i.stack.imgur.com/km1pr.jpg
28                                                  None
29                                                  None
...                                                  ...
40295                                               None
40296                                               None
40297  https://www.gravatar.com/avatar/2bc72d263cc5a8...
40298  https://www.gravatar.com/avatar/a52832f3202953...
40299  https://www.gravatar.com/avatar/285ba1e160c296...
40300  http://graph.facebook.com/100000041001887/pict...
40301  https://www.gravatar.com/avatar/1f8dbbc900087e...
40302  https://lh3.googleusercontent.com/-8iERz9S6Zr8...
40303  https://lh6.googleusercontent.com/--7hwjXqt-Zs...
40304  https://www.gravatar.com/avatar/c9e31787de1366...
40305                                               None
40306                                               None
40307                                               None
40308                                               None
40309  https://www.gravatar.com/avatar/70c18b82b058c1...
40310  https://www.gravatar.com/avatar/d9b1e7660eb8ed...

#### 5. Rename Id column to userId

In [38]:
users = users.rename(columns = {'Id': 'userId'})

users.head(3)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None

#### 6. Import the posts table.

In [20]:
posts = pd.read_sql_query('SELECT * from stats.posts', engine)

print(posts)

           Id  PostTypeId  AcceptedAnswerId         CreaionDate  Score  \
0           1           1              15.0 2010-07-19 19:12:12     23
1           2           1              59.0 2010-07-19 19:12:57     22
2           3           1               5.0 2010-07-19 19:13:28     54
3           4           1             135.0 2010-07-19 19:13:31     13
4           5           2               NaN 2010-07-19 19:14:43     81
5           6           1               NaN 2010-07-19 19:14:44    152
6           7           1              18.0 2010-07-19 19:15:59     76
7           8           1               NaN 2010-07-19 19:16:21      0
8           9           2               NaN 2010-07-19 19:16:27     13
9          10           1            1887.0 2010-07-19 19:17:47     23
10         11           1            1201.0 2010-07-19 19:18:30      2
11         12           2               NaN 2010-07-19 19:18:41     20
12         13           2               NaN 2010-07-19 19:18:56     14
13         14           2               NaN 2010-07-19 19:19:03      5
14         15           2               NaN 2010-07-19 19:19:46     13
15         16           2               NaN 2010-07-19 19:22:31     16
16         17           1              29.0 2010-07-19 19:24:12      9
17         18           2               NaN 2010-07-19 19:24:18     31
18         19           2               NaN 2010-07-19 19:24:21     12
19         20           2               NaN 2010-07-19 19:24:35      3
20         21           1               NaN 2010-07-19 19:24:36      4
21         22           1               NaN 2010-07-19 19:25:39    102
22         23           1              91.0 2010-07-19 19:26:04     10
23         24           2               NaN 2010-07-19 19:26:13     17
24         25           1              32.0 2010-07-19 19:27:13      7
25         26           1              61.0 2010-07-19 19:27:43     18
26         27           2               NaN 2010-07-19 19:28:12      4
27         28           2               NaN 2010-07-19 19:28:12      6
28         29           2               NaN 2010-07-19 19:28:15      5
29         30           1              55.0 2010-07-19 19:28:34      7
...       ...         ...               ...                 ...    ...
91946  115346           2               NaN 2014-09-13 13:15:18      0
91947  115348           1               NaN 2014-09-13 15:17:03      0
91948  115350           1               NaN 2014-09-13 15:26:01      0
91949  115351           1               NaN 2014-09-13 15:32:18      1
91950  115352           1               NaN 2014-09-13 15:56:55      0
91951  115353           2               NaN 2014-09-13 16:15:30      0
91952  115354           2               NaN 2014-09-13 16:25:32      2
91953  115355           1               NaN 2014-09-13 16:30:00      3
91954  115356           1               NaN 2014-09-13 16:34:58      1
91955  115357           2               NaN 2014-09-13 17:07:54      1
91956  115358           1               NaN 2014-09-13 17:29:23      2
91957  115360           1               NaN 2014-09-13 18:06:50      2
91958  115361           1               NaN 2014-09-13 18:36:36      0
91959  115362           2               NaN 2014-09-13 18:44:31      2
91960  115363           2               NaN 2014-09-13 19:37:20      0
91961  115364           1               NaN 2014-09-13 19:50:17      0
91962  115365           2               NaN 2014-09-13 20:13:11     -1
91963  115366           1               NaN 2014-09-13 20:36:55      1
91964  115367           1               NaN 2014-09-13 20:57:24      1
91965  115368           2               NaN 2014-09-13 21:01:39      4
91966  115369           2               NaN 2014-09-13 21:27:49      4
91967  115370           1               NaN 2014-09-13 21:39:30      1
91968  115371           1               NaN 2014-09-13 21:55:39      0
91969  115372           2               NaN 2014-09-13 23:15:00      0
91970  115373           2               NaN 2014-09-13 23:18:30      0
91971  115374           2               NaN 2014-09-13 23:45:39      2
91972  115375           1               NaN 2014-09-13 23:46:05      0
91973  115376           1               NaN 2014-09-14 01:27:54      1
91974  115377           2               NaN 2014-09-14 02:03:28      0
91975  115378           2               NaN 2014-09-14 02:09:23      0

       ViewCount                                               Body  \
0         1278.0  <p>How should I elicit prior distributions fro...
1         8198.0  <p>In many different statistical methods there...
2         3613.0  <p>What are some valuable Statistical Analysis...
3         5224.0  <p>I have two groups of data.  Each with a dif...
4            NaN  <p>The R-project</p>\n\n<p><a href="http://www...
5        29229.0  <p>Last year, I read a blog post from <a href=...
6         5808.0  <p>I've been working on a new method for analy...
7          288.0  <p>Sorry, but the emptyness was a bit overwhel...
8            NaN  <p><a href="http://incanter.org/">Incanter</a>...
9        21925.0  <p>Many studies in the social sciences use Lik...
10         224.0  <p>Is there a good, modern treatment covering ...
11           NaN  <p>See my response to <a href="http://stackove...
12           NaN  <p>Machine Learning seems to have its basis in...
13           NaN  <p>I second that Jay. Why is R valuable? Here'...
14           NaN  <p>John Cook gives some interesting recommenda...
15           NaN  <p>Two projects spring to mind:</p>\n\n<ol>\n<...
16        1261.0  <p>I have four competing models which I use to...
17           NaN  <p>Also see the UCI machine learning Data Repo...
18           NaN  <p><a href="http://www.gapminder.org/data/">Ga...
19           NaN  <p>The assumption of normality assumes your da...
20         184.0  <p>What are some of the ways to forecast demog...
21       21916.0  <p>How would you describe in plain English the...
22        7694.0  <p>How can I find the PDF (probability density...
23           NaN  <p>For doing a variety of MCMC tasks in Python...
24        2095.0  <p>What modern tools (Windows-based) do you su...
25        3476.0  <p>What is a standard deviation, how is it cal...
26           NaN  <p><a href="http://mathforum.org/workshops/sum...
27           NaN  <p><a href="http://www.gnu.org/software/gsl/" ...
28           NaN  <p>Contingency table (chi-square). Also Logist...
29         705.0  <p>Which methods are used for testing random v...
...          ...                                                ...
91946        NaN  <p>First, let's try to simulate some data with...
91947       18.0  <p>In the game of Bridge, 52 cards are distrub...
91948        3.0  <p>How do we specify negative costs in rpart? ...
91949        9.0  <p>If one is conducting a survey in which all ...
91950       16.0  <p>For example, I was looking at <a href="http...
91951        NaN  <p>I have strong reservations about whether me...
91952        NaN  <p>If all the null hypotheses were true, 5% of...
91953       49.0  <p>I have a methodological question, and there...
91954       15.0  <p>I'm a beginner in statistics and I have to ...
91955        NaN  <p>I've personally been asking this question f...
91956       15.0  <p>Are there any formulae for the quantiles of...
91957       40.0  <p>Is Student's t test a Wald test?</p>\n\n<p>...
91958       12.0  <p>Given the biometric match scores, I am requ...
91959        NaN  <p>Theoretical insight, institutional knowledg...
91960        NaN  <p>I think I got a very simple answer.</p>\n\n...
91961       11.0  <p>I'm trying to find the most similar sample ...
91962        NaN  <blockquote>\n  <p>Is there some approach to u...
91963       17.0  <p>Does any standard statistical software like...
91964       97.0  <p>Jon and Frank ordered 2 footlong sandwiches...
91965        NaN  <p>You need to multiply the probabilities with...
91966        NaN  <p>Line up the four sandwiches in a row where ...
91967       13.0  <p>im analyzing an article for my studies with...
91968       19.0  <p>I am trying to estimate the school effects ...
91969        NaN  <p>If prior to running the xtreg command you h...
91970        NaN  <p>Yes, the <a href="http://cran.r-project.org...
91971        NaN  <p>This grew too long for a comment, but I thi...
91972        9.0  <p>Assume a classification problem where there...
91973        5.0  <p>My goal is to create a formula that can giv...
91974        NaN  <p>As a practical answer to the real questions...
91975        NaN  <p>Decision trees are notoriously <strong>unst...

       OwnerUserId     LasActivityDate  \
0              8.0 2010-09-15 21:08:26
1             24.0 2012-11-12 09:21:54
2             18.0 2013-05-27 14:48:36
3             23.0 2010-09-08 03:00:19
4             23.0 2010-07-19 19:21:15
5              5.0 2014-05-29 03:54:31
6             38.0 2013-12-28 06:53:10
7             37.0 2010-10-18 07:57:31
8             50.0 2010-07-19 19:16:27
9             24.0 2012-10-23 17:33:41
10            34.0 2010-08-03 21:50:09
11             5.0 2010-07-19 19:18:41
12            23.0 2010-07-19 19:18:56
13            36.0 2010-07-19 19:19:03
14             6.0 2010-07-19 19:19:46
15             8.0 2010-07-19 20:43:02
16             NaN 2012-01-22 23:34:51
17            36.0 2010-07-19 19:24:18
18            55.0 2010-07-19 19:24:21
19            37.0 2010-07-19 19:24:35
20            59.0 2010-09-30 21:14:45
21            66.0 2014-06-05 02:06:32
22            69.0 2010-07-20 08:52:27
23            61.0 2010-07-19 19:26:13
24            69.0 2014-08-13 20:29:48
25            75.0 2013-07-30 10:19:04
26            68.0 2010-07-19 19:28:12
27             NaN 2010-07-19 19:28:12
28            36.0 2010-07-19 19:28:15
29            69.0 2011-05-12 18:38:27
...            ...                 ...
91946      42434.0 2014-09-13 13:15:18
91947      55564.0 2014-09-13 16:25:32
91948      55731.0 2014-09-13 15:26:01
91949       7331.0 2014-09-13 15:43:23
91950      55734.0 2014-09-13 16:15:30
91951       7290.0 2014-09-13 16:15:30
91952        805.0 2014-09-13 16:25:32
91953      35413.0 2014-09-13 18:53:58
91954      55733.0 2014-09-13 20:45:45
91955      44142.0 2014-09-13 17:07:54
91956       1569.0 2014-09-14 02:54:13
91957      55738.0 2014-09-13 18:06:50
91958      55383.0 2014-09-13 18:36:36
91959       7071.0 2014-09-13 18:53:58
91960       2676.0 2014-09-13 19:37:20
91961      52858.0 2014-09-13 21:30:41
91962      28236.0 2014-09-13 20:13:11
91963      55742.0 2014-09-13 23:18:30
91964      41961.0 2014-09-14 02:05:41
91965      24808.0 2014-09-13 21:01:39
91966       6633.0 2014-09-13 21:27:49
91967      55744.0 2014-09-13 21:39:30
91968      35801.0 2014-09-13 23:15:00
91969      48579.0 2014-09-13 23:15:00
91970      48579.0 2014-09-13 23:18:30
91971        805.0 2014-09-14 02:05:41
91972      49365.0 2014-09-14 02:09:23
91973      55746.0 2014-09-14 01:40:55
91974        805.0 2014-09-14 02:54:13
91975       7250.0 2014-09-14 02:09:23

                                                   Title  ... AnswerCount  \
0                          Eliciting priors from experts  ...         5.0
1                                     What is normality?  ...         7.0
2      What are some valuable Statistical Analysis op...  ...        19.0
3      Assessing the significance of differences in d...  ...         5.0
4                                                   None  ...         NaN
5      The Two Cultures: statistics vs. machine learn...  ...        15.0
6                 Locating freely available data samples  ...        24.0
7      So how many staticians *does* it take to screw...  ...         1.0
8                                                   None  ...         NaN
9      Under what conditions should Likert scales be ...  ...         4.0
10                 Multivariate Interpolation Approaches  ...         1.0
11                                                  None  ...         NaN
12                                                  None  ...         NaN
13                                                  None  ...         NaN
14                                                  None  ...         NaN
15                                                  None  ...         NaN
16                How can I adapt ANOVA for binary data?  ...         1.0
17                                                  None  ...         NaN
18                                                  None  ...         NaN
19                                                  None  ...         NaN
20                        Forecasting demographic census  ...         1.0
21     Bayesian and frequentist reasoning in plain En...  ...        15.0
22                         Finding the PDF given the CDF  ...         2.0
23                                                  None  ...         NaN
24              Tools for modeling financial time series  ...         7.0
25                         What is a standard deviation?  ...         8.0
26                                                  None  ...         NaN
27                                                  None  ...         NaN
28                                                  None  ...         NaN
29          Testing random variate generation algorithms  ...         8.0
...                                                  ...  ...         ...
91946                                               None  ...         NaN
91947  Please help me interpret this goodness of fit ...  ...         1.0
91948  Specifying negative costs (benefits) in rpart'...  ...         0.0
91949               Sampling frame of a voluntary survey  ...         0.0
91950  Is there a way to estimate the distribution fr...  ...         1.0
91951                                               None  ...         NaN
91952                                               None  ...         NaN
91953  Adjust for everything you have in propensity s...  ...         2.0
91954  How to interpret glmer results (variance, corr...  ...         0.0
91955                                               None  ...         NaN
91956  Quantiles of a compound gamma/negative binomia...  ...         1.0
91957                   Is Student's t test a Wald test?  ...         0.0
91958            Plotting of density estimates in matlab  ...         0.0
91959                                               None  ...         NaN
91960                                               None  ...         NaN
91961          In search of a proper similarity function  ...         0.0
91962                                               None  ...         NaN
91963                     Missing data analysis software  ...         1.0
91964  How to add odds? (or how I got the wrong sandw...  ...         3.0
91965                                               None  ...         NaN
91966                                               None  ...         NaN
91967                                 Poisson regression  ...         0.0
91968  Estimation of school effects using xtmixed (in...  ...         1.0
91969                                               None  ...         NaN
91970                                               None  ...         NaN
91971                                               None  ...         NaN
91972  Detecting a consistent pattern in a dataset vi...  ...         1.0
91973  How to project video viewcount based on histor...  ...         0.0
91974                                               None  ...         NaN
91975                                               None  ...         NaN

       CommentCount  FavoriteCount  LastEditorUserId        LastEditDate  \
0                 1           14.0               NaN                 NaT
1                 1            8.0              88.0 2010-08-07 17:56:44
2                 4           36.0             183.0 2011-02-12 05:50:03
3                 2            2.0               NaN                 NaT
4                 3            NaN              23.0 2010-07-19 19:21:15
5                 5          137.0           22047.0 2013-06-07 06:38:10
6                 3           79.0             253.0 2013-09-26 21:50:36
7                 2            NaN             449.0 2010-10-18 07:57:31
8                 3            NaN               NaN                 NaT
9                 4           12.0             919.0 2011-03-30 15:31:46
10                2            1.0              34.0 2010-07-28 07:58:52
11                1            NaN               NaN                 NaT
12                4            NaN               NaN                 NaT
13                1            NaN               NaN                 NaT
14                0            NaN               NaN                 NaT
15                3            NaN               8.0 2010-07-19 20:43:02
16                0            1.0            7972.0 2012-01-22 23:34:51
17                1            NaN               NaN                 NaT
18                0            NaN               NaN                 NaT
19                2            NaN               NaN                 NaT
20                1            1.0             930.0 2010-09-30 21:14:45
21                1           67.0             930.0 2011-10-04 07:05:14
22                1            2.0               NaN                 NaT
23                0            NaN               NaN                 NaT
24                4            5.0              69.0 2010-07-26 23:38:29
25               14            7.0           22047.0 2013-07-30 10:19:04
26                0            NaN               NaN                 NaT
27                0            NaN               NaN                 NaT
28                0            NaN               NaN                 NaT
29                2            7.0             919.0 2010-08-25 14:12:54
...             ...            ...               ...                 ...
91946             0            NaN               NaN                 NaT
91947             3            NaN           55564.0 2014-09-13 15:41:36
91948             0            NaN               NaN                 NaT
91949             0            NaN            7290.0 2014-09-13 15:43:23
91950             0            NaN               NaN                 NaT
91951             0            NaN               NaN                 NaT
91952             0            NaN               NaN                 NaT
91953             0            NaN               NaN                 NaT
91954             0            NaN           55733.0 2014-09-13 20:45:45
91955             0            NaN               NaN                 NaT
91956             0            NaN               NaN                 NaT
91957             4            NaN               NaN                 NaT
91958             1            NaN               NaN                 NaT
91959             0            NaN            7071.0 2014-09-13 18:53:58
91960             0            NaN               NaN                 NaT
91961             3            NaN           52858.0 2014-09-13 21:30:41
91962             1            NaN               NaN                 NaT
91963             0            1.0               NaN                 NaT
91964             0            NaN             919.0 2014-09-13 21:11:36
91965             0            NaN               NaN                 NaT
91966             0            NaN               NaN                 NaT
91967             2            NaN               NaN                 NaT
91968             0            NaN           35801.0 2014-09-13 22:51:35
91969             9            NaN               NaN                 NaT
91970             0            NaN               NaN                 NaT
91971             2            NaN             805.0 2014-09-14 02:05:41
91972             0            NaN               NaN                 NaT

#### 7. Rename Id column to postId and OwnerUserId to userId

In [49]:
posts = posts.rename(columns = {'Id': 'OwnerUserId'})

posts.columns

Index(['OwnerUserId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [51]:
user_new = users[['userId', 'Reputation', 'Views','UpVotes', 'DownVotes']].copy()
user_new.columns

posts_new = posts[['PostTypeId', 'Score', 'OwnerUserId', 'ViewCount', 'CommentCount']].copy()
posts_new.columns

Index(['PostTypeId', 'Score', 'OwnerUserId', 'OwnerUserId', 'ViewCount',
       'CommentCount'],
      dtype='object')

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [58]:
#Uniendo dataframes con concat

data_global = pd.concat([user_new, posts_new], axis=1)
data_global.head(5)

,userId,Reputation,Views,UpVotes,DownVotes,PostTypeId,Score,OwnerUserId,OwnerUserId,ViewCount,CommentCount
0,-1.0,1.0,0.0,5007.0,1920.0,1,23,1,8.0,1278.0,1
1,2.0,101.0,25.0,3.0,0.0,1,22,2,24.0,8198.0,1
2,3.0,101.0,22.0,19.0,0.0,1,54,3,18.0,3613.0,4
3,4.0,101.0,11.0,0.0,0.0,1,13,4,23.0,5224.0,2
4,5.0,6792.0,1145.0,662.0,5.0,2,81,5,23.0,NaN,3

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [60]:
null_columns = data_global.isnull().sum()
print(null_columns)

userId          51651
Reputation      51651
Views           51651
UpVotes         51651
DownVotes       51651
PostTypeId          0
Score               0
OwnerUserId         0
OwnerUserId      1392
ViewCount       49055
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [71]:
print("Proceso a limpiar las variables que tienen un NaN y pasarlas a un 0")

columnas = list(null_columns[null_columns > 2000].index)
#print(columnas)
#data_global = data_global.drop(columnas, axis=1)
#print("Columnas con mas de 2000 datos perdidos han sido borradas")

#data_global.columns
print(Procedo a rellenar espacios en Nan por 0)
data_global['OwnerUserId'] = data_global['OwnerUserId'].fillna(0)

#Borro
#data = data.drop(drop_cols, axis=1)

Proceso a limpiar las variables que tienen un NaN y pasarlas a un 0

In [75]:
print("Procedo a rellenar espacios en Nan por 0")
data_global['OwnerUserId'] = data_global['OwnerUserId'].fillna(0)
data_global.head(17)
print("Podemos observar como valores 14 y 16 han sido normalizados en 0")

Procedo a rellenar espacios en Nan por 0

    PostTypeId  Score  OwnerUserId  OwnerUserId  CommentCount
0            1     23          1.0          8.0             1
1            1     22          2.0         24.0             1
2            1     54          3.0         18.0             4
3            1     13          4.0         23.0             2
4            2     81          5.0         23.0             3
5            1    152          6.0          5.0             5
6            1     76          7.0         38.0             3
7            1      0          8.0         37.0             2
8            2     13          9.0         50.0             3
9            1     23         10.0         24.0             4
10           1      2         11.0         34.0             2
11           2     20         12.0          5.0             1
12           2     14         13.0         23.0             4
13           2      5         14.0         36.0             1
14           2     13         15.0          6.0             0
15           2     16         16.0          8.0             3
16           1      9         17.0          0.0             0

In [77]:
null_columns = data_global.isnull().sum()
print(null_columns)
print("La tabla ya no contiene valores en NaN")

PostTypeId      0
Score           0
OwnerUserId     0
OwnerUserId     0
CommentCount    0
dtype: int64

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [78]:
data_global.dtypes

PostTypeId        int64
Score             int64
OwnerUserId     float64
OwnerUserId     float64
CommentCount      int64
dtype: object

In [80]:
data_global['OwnerUserId'] = data_global['OwnerUserId'].astype('int64')
data_global['OwnerUserId'] = data_global['OwnerUserId'].astype('int64')
data_global.dtypes

PostTypeId      int64
Score           int64
OwnerUserId     int64
OwnerUserId     int64
CommentCount    int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [81]:
stats = data_global.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
PostTypeId,91976.0,1.568866,0.611743,1.0,1.00,2.0,2.00,7.0,1.0
Score,91976.0,2.791902,4.981867,-19.0,1.00,2.0,3.00,192.0,2.0
OwnerUserId,91976.0,56147.699465,33975.569431,1.0,25489.75,56781.5,85909.25,115378.0,60419.5
OwnerUserId,91976.0,16296.339654,15291.379154,-1.0,3277.00,11032.0,27495.00,55746.0,24218.0
CommentCount,91976.0,1.895114,2.639020,0.0,0.00,1.0,3.00,45.0,3.0

In [96]:
filt_df = data_global.loc[:, data_global.columns != 'OwnerUserId']

low = .05
high = .95
quant_df = filt_df.quantile([low, high])
print(quant_df)

quant_df.to_csv("outliers.csv")

      PostTypeId  Score  CommentCount
0.05         1.0    0.0           0.0
0.95         2.0    9.0           7.0

In [92]:
print(low_variance)

[]

In [93]:
data_global.drop(low_variance, axis= 1)
data_global

       PostTypeId  Score  OwnerUserId  OwnerUserId  CommentCount
0               1     23            1            8             1
1               1     22            2           24             1
2               1     54            3           18             4
3               1     13            4           23             2
4               2     81            5           23             3
5               1    152            6            5             5
6               1     76            7           38             3
7               1      0            8           37             2
8               2     13            9           50             3
9               1     23           10           24             4
10              1      2           11           34             2
11              2     20           12            5             1
12              2     14           13           23             4
13              2      5           14           36             1
14              2     13           15            6             0
15              2     16           16            8             3
16              1      9           17            0             0
17              2     31           18           36             1
18              2     12           19           55             0
19              2      3           20           37             2
20              1      4           21           59             1
21              1    102           22           66             1
22              1     10           23           69             1
23              2     17           24           61             0
24              1      7           25           69             4
25              1     18           26           75            14
26              2      4           27           68             0
27              2      6           28            0             0
28              2      5           29           36             0
29              1      7           30           69             2
...           ...    ...          ...          ...           ...
91946           2      0       115346        42434             0
91947           1      0       115348        55564             3
91948           1      0       115350        55731             0
91949           1      1       115351         7331             0
91950           1      0       115352        55734             0
91951           2      0       115353         7290             0
91952           2      2       115354          805             0
91953           1      3       115355        35413             0
91954           1      1       115356        55733             0
91955           2      1       115357        44142             0
91956           1      2       115358         1569             0
91957           1      2       115360        55738             4
91958           1      0       115361        55383             1
91959           2      2       115362         7071             0
91960           2      0       115363         2676             0
91961           1      0       115364        52858             3
91962           2     -1       115365        28236             1
91963           1      1       115366        55742             0
91964           1      1       115367        41961             0
91965           2      4       115368        24808             0
91966           2      4       115369         6633             0
91967           1      1       115370        55744             2
91968           1      0       115371        35801             0
91969           2      0       115372        48579             9
91970           2      0       115373        48579             0
91971           2      2       115374          805             2
91972           1      0       115375        49365             0
91973           1      1       115376        55746             2
91974           2      0       115377          805             0
91975           2      0       115378         7250             0

[91976 rows x 5 columns]